public class FilmGraphType : AsyncNodeGraphType<Films>
{
  public FilmGraphType(SpeciesRepository speciesRepository)
  {
      Name = "Film";

      Id(p => p.Id);
      Field(p => p.Title).Description("The title of this film.");
      Field(p => p.EpisodeId).Description("The episode number of this film.");
      Field(p => p.OpeningCrawl);
      Field(p => p.Director);
      Field(p => p.Producer);
      Field(p => p.ReleaseDate);

      Connection<SpeciesGraphType>()
          .Name("species")
          .Description("All the species belonging to this film.")
          .Resolve(ctx => speciesRepository.GetMany<Species>(ctx.Source.Species)
          );
  }
}